[submodule "external/cmsis_atmel"]
	path = external/cmsis_atmel
	url = git@github.com:arduino/ArduinoModule-CMSIS-Atmel.git
[submodule "external/ArduinoCore-samd"]
	path = external/ArduinoCore-samd
	url = git@github.com:arduino/ArduinoCore-samd.git
[submodule "external/Atmel-CMSIS"]
	path = external/Atmel-CMSIS
	url = git@github.com:arduino/ArduinoModule-CMSIS-Atmel.git
[submodule "external/CMSIS_5"]
	path = external/CMSIS_5
	url = git@github.com:ARM-software/CMSIS_5.git
[submodule "external/ArduinoCore-API"]
	path = external/ArduinoCore-API
	url = git@github.com:arduino/ArduinoCore-API.git
